@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    text-align: center;
}
   /* header */
   .container h1{
    color: #5451A6;
    margin: 50px;
   }
   /* labels */
   .bill, .cash{
    font-size: 20px;
    font-weight: bold;
   }
   /* input area */
   #bill-amount{
    margin: 15px;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 5px;
    border: 2px solid #5451A6 ;
   }
 #cash-given{
    margin: 15px;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 5px;
    border: 2px solid #5451A6;
 }
  /* check button */
  #check{
    padding: 5px 10px;
    background-color: #5451A6;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
  }
/* Tables */
.table{
    width: 60%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  .return{
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
  }
th,td {
  border: 2px solid #5451A6;
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}
/* footer */
.footer {
    margin-top: 90px;
}
.footer .fa-brands{
    color: #5451A6;
    margin: 5px;
    padding: 0px 5px;
}